<section>
  <div
    class="font-[poppins] bg-slate-100 max-w-4xl mx-auto mt-16 p-4 rounded-xl capitalize"
  >
    <h1 class="text-center mx-auto px-12 mb-10 text-3xl">forget password</h1>

    @if(step == 1) {
    <form [formGroup]="verifyEmail" class="mt-16" (ngSubmit)="onsubmitEmail()">
      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >email</label
        >
        <input
          formControlName="email"
          type="email"
          id="default-input"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      @if (verifyEmail.get('email')?.errors &&
      verifyEmail.get('email')?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 block w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (verifyEmail.get('email')?.getError('required')) {
            <li>email required</li>
            } @else if (verifyEmail.get('email')?.getError('email')) {
            <li>"Invalid email format"</li>
            }
          </ul>
        </div>
      </div>
      }

      <button
        class="w-1/2 mx-auto block mb-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  } @else if(step == 2) {

    <form [formGroup]="verifyCode" class="mt-16" (ngSubmit)="onsubmitCode()">
      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >code</label
        >
        <input
          formControlName="code"
          type="text"
          id="default-input"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      @if (verifyCode.get('code')?.errors &&
      verifyCode.get('code')?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 block w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (verifyCode.get('code')?.getError('required')) {
            <li>code required</li>
            } @else if (verifyCode.get('code')?.getError('code')) {
            <li>"Invalid code format"</li>
            }
          </ul>
        </div>
      </div>
      }

      <button
        class="w-1/2 mx-auto block mb-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  } @else if(step == 3) {
    <form [formGroup]="verifyEmail" class="mt-16" (ngSubmit)="onsubmitReset()">
      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >email</label
        >
        <input
          formControlName="email"
          type="email"
          id="default-input"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      @if (verifyEmail.get('email')?.errors &&
      verifyEmail.get('email')?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 block w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (verifyEmail.get('email')?.getError('required')) {
            <li>email required</li>
            } @else if (verifyEmail.get('email')?.getError('email')) {
            <li>"Invalid email format"</li>
            }
          </ul>
        </div>
      </div>
      }
      <div class="mb-6">
        <label
          for="default-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >password</label
        >
        <input
          formControlName="password"
          type="password"
          id="default-input"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      @if (verifyEmail.get('password')?.errors &&
      verifyEmail.get('password')?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 block w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (verifyEmail.get('password')?.getError('required')) {
            <li>password required</li>
            } @else if (verifyEmail.get('password')?.getError('pattern')) {
            <li>"Invalid password format"</li>
            }
          </ul>
        </div>
      </div>
      }
      <button
        class="w-1/2 mx-auto block mb-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  }
  </div>
</section>
