<section class="w-[90%] md:w-[70%] mx-auto mt-16 h-[90vh] bg-blackbdg">
  <div class="flex justify-center">
    <div class="md:w-1/2 " >
      <div class="hidden md:block" >
        <img
          class="w-full h-screen object-cover rounded-s-xl"
          alt="poster-1"
          src="/images/poster-2.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="font-[poppins] bg-slate-100  p-4 rounded-xl capitalize w-full   md:w-1/2 rounded-e-xl ">
      <h1 class="text-center mx-auto px-12 mb-20 mt-7 text-4xl">Log in</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <label
            for="default-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >email</label
          >
          <input
            formControlName="email"
            type="email"
            id="default-input"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched)
        {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
          role="alert"
        >
          <svg
            class="shrink-0 block w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (loginForm.get('email')?.getError('required')) {
              <li>email required</li>
              } @else if (loginForm.get('email')?.getError('email')) {
              <li>"Invalid email format"</li>
              }
            </ul>
          </div>
        </div>
        }
        <div class="mb-6">
          <label
            for="pass-input"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >password</label
          >
          <input
            formControlName="password"
            type="password"
            id="pass-input"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        @if (loginForm.get('password')?.errors &&
        loginForm.get('password')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
          role="alert"
        >
          <svg
            class="shrink-0 block w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (loginForm.get('password')?.getError('required')) {
              <li>password required</li>
              } @else if (loginForm.get('password')?.getError('pattern')) {
              <li>"Invalid password format"</li>
              }
            </ul>
          </div>
        </div>
        }

        <button
          [disabled]="isLoading"
          type="submit"
          class="bg-blue-800 rounded-lg px-16 py-2 text-white font-[poppins] mx-auto block"
        >
          Sign in @if (isLoading ) {<span
            ><i class="fas fa-spin fa-spinner"></i></span
          >}
        </button>
        <a
          class="text-blue-800 text-center block mt-6"
          routerLink="/forgetpassword"
        >
          forgot password?</a
        >
        @if (msErr) {
        <div class="flex p-4 m-4 text-sm text-red-800 rounded-lg bg-red-50">
          {{ msErr }}
        </div>
        } @if (isSuccess) {
        <div class="flex p-4 m-4 text-sm text-green-800 rounded-lg bg-green-50">
          <h2>Success</h2>
        </div>
        }
      </form>
    </div>
  </div>
</section>
