
.winter{
  cursor: pointer;
transition: all 1s ease-in-out;

  h1{
    background-image: linear-gradient( #00000000, #ffffff11, #000000);
    transition: all .5s ease-in-out;
  }

}
.winter:hover{

  h1{
    background-image: linear-gradient( #00000000, #ffffff11, #ffffff);
    color: #000;
  }
}
.him{
  cursor: pointer;

  h2{
    background-image:radial-gradient(circle, #ff000000, #000000, #12121229);
  }
}

.active{
  background-color: #1d1968;


    color: #ffffff;


}
.fontcolor{
background-image: linear-gradient(to right , #101092,#9416cf , #e6235e );
color: transparent;
background-clip: text;
}

